tr{ white-space:0;}
.table0{border:none;width:100%;}
.table0_td{background-color: #66cc66;padding:0 0px 0px 0;}
/*.table0_td{padding:0 0px 0px 0;}*/
.table1 {border-collapse:collapse;width:100%;}
.table1 td{ height:30px;border:#333333 solid 1px;text-align:center;width:25%}